{% for chunk in posts %}
    <div class="row">
        {% for post in chunk %}
        <div class="col col-4">
            <div class="box" style="max-height: 400px; min-height: 300px; margin: 10px; overflow-wrap: anywhere;">
                <a href="{{ url_for('main.view_post', uuid=post.uuid) }}"><strong>{{ post.title }}</strong></a>
                <br />
                <span>{{ post.post_date }} ({{ post.post_date | humanize }})</span>
                <br />
                {% for tag in post.get_tags(4) %}
                <span class="button" style="background-color: {{ tag.name | string_to_color }}80; margin: 4px;">{{ tag.name }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}